/* QUOTE SECTION */

.white {
  color: white;
}

/* the quote was overlapping the navbar when open, so I added a z-index to both */
.quote_container {
  z-index: 1;
  background-color: var(--charcoal);
  margin-bottom: 5rem;
  padding: 2rem;
}

.quote .medium_text {
  font-weight: 600;
}

.quote .small_text {
  font-weight: 500;
  margin-top: 1rem;
  margin-left: 6rem;
}

.main_fade_in {
  animation: fade_in 2s forwards;
}

.sec_fade_in {
  opacity: 0;
  animation: fade_in 1.5s 1.2s forwards;
}

.third_fade_in {
  opacity: 0;
  animation: fade_in 1.5s 2.1s forwards;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
