.detail_container, 
.detail_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.detail_column {
    font-weight: 600;
    color: var(--lightGrey);
}

.description_container {
    max-width: 80%;
}

@media screen and (min-width: 768px) {
    .description_container {
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .detail_column {
        max-width: 75%;
        margin: 0 auto;
    }
}