* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --black: black;
  --charcoal:  #1f1f1f;
  --grey: #545454;
}

/* TYPOGRAPHY */

.white {
  color: white;
}

.bold {
    font-weight: 600;
}

.bold_light {
    font-weight: 500;
}

.medium_text {
  font-size: 2rem;
}

.small_text {
  font-size: 1.5rem;
}

.image_container {
  width: 100%;
  height: auto;
}

/* TESTING */

.placeholder {
  width: 1000px;
  height: 300px;
  /* background-color: var(--black); */
  background-color: var(--charcoal);
}

.p2 {
  padding: 2rem;
}
