.image_grid {
    margin: 5rem 0 7rem 0;
    max-width: 80%;
}

.image_container {
    position: relative;
}

.image_title {
    color: white;
    position: absolute;
    bottom: 10%;
    left: 15%;
}