.about_me_container {
  background-color: white;
  color: var(--grey);
  /* background-color: var(--grey); */
  border-radius: 0.75rem;
  /* color: white; */
  font-weight: 500;
  font-size: 1.05rem;
  padding: 1.2rem;
  width: 95%;
}

.text_bold {
  font-weight: 600;
}

.text_large {
  font-weight: 600;
  font-size: 1.45rem;
}

@media screen and (min-width: 500px) {
  .about_me_container {
    /* background-color: white;
    color: var(--grey); */
    padding: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .about_me_container {
    max-width: 75%;
    padding: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .about_me_container {
    max-width: 60%;
  }
}
